@model GeekShopping.Web.Models.CartViewModel

@if (TempData["Error"] != null)
{
    <div class="alert alert-warning" role="alert">@TempData["Error"]</div>
}

@if (Model != null && Model.CartDetails.Count() > 0)
{
    <form method="post">
        <input asp-for="CartHeader.UserId" hidden />
        <input asp-for="CartHeader.Id" hidden />
        <input asp-for="CartHeader.CouponCode" hidden />
        <input asp-for="CartHeader.DiscountAmount" hidden />
        <input asp-for="CartHeader.PurchaseAmount" hidden />
        <div>
            <span style="font-size:25px;" class="text-warning">Enter details and place order:</span>
            <br/>
        </div>
        <div class="border mt-2">
            <div class="container row">
                <div class="col-7">
                    <div class="row">
                        <div class="col-12">
                            <label class="col-form-label">First Name:</label>
                            <input asp-for="CartHeader.FirstName" class="form-control"/>
                        </div>
                        <div class="col-12">
                            <label class="col-form-label">Last Name:</label>
                            <input asp-for="CartHeader.LastName" class="form-control"/>
                        </div>
                        <div class="col-12">
                            <label class="col-form-label">E-mail:</label>
                            <input asp-for="CartHeader.Email" class="form-control"/>
                        </div>
                        <div class="col-12">
                            <label class="col-form-label">Phone Number:</label>
                            <input asp-for="CartHeader.Phone" class="form-control"/>
                        </div>
                        <div class="col-12">
                            <label class="col-form-label">Card Number:</label>
                            <input asp-for="CartHeader.CardNumber" class="form-control"/>
                        </div>
                        <div class="col-12">
                            <label class="col-form-label">CVV:</label>
                            <input asp-for="CartHeader.CVV" class="form-control"/>
                        </div>
                        <div class="col-12 pb-4">
                            <label class="col-form-label">Expiry:</label>
                            <input asp-for="CartHeader.ExpiryMothYear" placeholder="MMYY" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="card mt-4">
                        <div class="card-body">
                            <div class="d-none d-lg-block">
                                <div class="row text-danger">
                                    <div class="col-6">
                                        Product Details
                                    </div>
                                    <div class="col-3">
                                        Price
                                    </div>
                                    <div class="col-3">
                                        Count
                                    </div>
                                </div>
                            </div>

                            <hr/>

                            @foreach (var item in Model.CartDetails)
                            {
                            <div class="row h-100">
                                <div class="col-6">
                                    <span style="font-size:20px;">@item.Product.Name</span>
                                </div>
                                <div class="col-3">
                                    <span style="font-size:17px;">@string.Format("{0:c}", item.Product.Price)</span>
                                </div>
                                <div class="col-3">
                                    <span style="font-size:17px;">@item.Count
                                    </span>
                                </div>

                                
                            </div>
                            <hr/>    
                            }
                            <div class="row">
                                <div class="col-12 text-right pr-4 text-danger">
                                Purchase Amount: @string.Format("{0:c}", Model.CartHeader.PurchaseAmount)<br/>
                                @if(Model.CartHeader.DiscountAmount > 0)
                                {
                                    <span class="text-success">
                                        Discount Amount: @string.Format("{0:c}", Model.CartHeader.DiscountAmount)
                                    </span>
                                }
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-12">
                                    <button type="submit" class="btn btn-success form-control">
                                        <span>Place Order</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
}
